@import '../../../styles/colors';

#registerView{
    display: grid;
    grid-template-columns: minmax(320px, 1fr) 1fr;
    height: 100vh;
    position: relative;

    & > .starbucks-logo{
        position: absolute;
        top: 30px;
        left: 30px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    & > .register-form-container{
        width: 100%;
        padding: 1rem;
        display: flex;
        place-content: center;
        background-color: $white2;
        background-image: url('../../../assets/images/bg-mask.png');
        overflow-y: auto;

        & a{
            &:hover,
            &:focus{
                text-decoration: underline;
                color: $greenDarker;
            }
        }
        & > .register-form{
            place-self: center;
            width: 100%;
            max-width: 400px;
            min-width: 284px;

            & .ant-alert{
                margin-bottom: 1rem;

                &.ant-alert-error > .ant-alert-message{
                    color: $red;
                }
            }

            & .register-welcome-title{
                font-size: 30px;
                color: $black;
                font-family: "StolzlMedium", sans-serif;
            }
            & .ant-input-group-addon{
                padding: 10px 14px;
                border-radius: 0;
                background-color:  $white2;
                color: $green;
            }

            & .ant-input{
                border-radius: 0;
                height: unset;
                padding: 10px 11px;
                color: $black;
                font-family: "StolzlBook", sans-serif;
                &:hover,
                &:focus{
                    border-color: $lightGreen;
                }

                &:focus{
                    box-shadow: 0 0 0 2px rgba($color: $lightGreen, $alpha: 0.4);
                }
            }

            & .ant-input-affix-wrapper {
                & > input {
                    padding-inline-start: 0;
                    padding-block: 6px;
                }
            }
            
            & .register-form-forgot{
                font-size: 12px;
            }
            & > .register-form-actions-container{  
                display: grid;
                place-content: center;
                gap: 7px;
                color: $lightgray;
            }
        }
    }
    & > .register-decoration-side{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: $green;
        background-image: url('../../../assets/images/footer-bg-mask.png');
        padding: 50px;
        display: grid;
        place-content: center;

        & > img{
            filter: brightness(3);
            max-width: 400px;
            display: block;
            margin: 0 auto;
        }

        & > span{
            display: block;
            font-size: 45px;
            text-align: center;
            color: $white2;
            font-family: "StolzlBold", sans-serif;

            & > small{
                font-family: "StolzlBook", sans-serif;
            }
        }
    }
}