@import '../../../../styles/utils';

#mapSection{
    padding: 0 0 30px 30px;
    z-index: 3;
    
    & > .map-title{
        display: block;
        margin: 0 auto;
        color: $black;
        text-align: center;
        @include fluid-type(font-size, 320px, 800px, 20px, 30px);
        margin-bottom: 30px;

        & .green{
            color: $green;
        }
    }

    & > .map-wrapper{
        display: grid;
        grid-template-areas: "view list" "search list";
        grid-template-columns: 1fr 300px;
        grid-template-rows: 400px 100px;
    }
}