@import "../../../styles/utils";

.in-padding{
    @include fluid-type(padding-left, 800px, 1366px, 20px, 100px);
    @include fluid-type(padding-right, 800px, 1366px, 20px, 100px);
}

footer{
    width: 100%;
    background-color: $green;
    background-image: url('../../../assets/images/footer-bg-mask.png');
    position: relative;
    z-index: 9;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: -25%;
        width: 100%;
        height: 100%;
        background-image: url('../../../assets/icons/starbucks_logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
        filter: grayscale(1) opacity(0.04);
        pointer-events: none;
    }

    & > .brand-container,
    & > .policy-conditions{
        background-color: rgba($color: $greenDark, $alpha: 0.8);
        height: 70px;
        display: flex;
        place-content: center space-between;
        @extend .in-padding;

        & * {
            display: flex;
            align-items: center;
        }

        & span{
            font-family: 'StolzlLight', sans-serif;
            color: rgba($color: $white, $alpha: 0.4);
            letter-spacing: 0px;
            font-size: 14px;
        }
    }

    & > .policy-conditions{
        place-content: center flex-start;
        place-items: center;

        & span{
            padding: 10px 0;

            &:first-child{
                padding-right: 20px;
                border-right: 2px solid rgba($color: $white, $alpha: 0.2);
            }

            &:last-child{
                padding-left: 20px;
            }
        }
    }
}

footer .footer-navigation-content{
    @extend .in-padding;
    margin: 20px 0;
    display: flex;

    & > .footer-actions{
        padding: 16px 20px;
        width: 100%;
        max-width: 280px;

        & > .change-location-action{
            display: flex;
            flex-wrap: nowrap;
            & > span{
                width: min-content;
                font-size: 12px;
                color: rgba($color: $white, $alpha: 0.6);
                font-family: 'StolzlBook', sans-serif;
                text-decoration: underline;
                padding: 8px 10px;
                margin: 0 auto;
                cursor: pointer;
                &:hover{
                    text-decoration: unset;
                }
            }
        }

        & > ul{
            margin-top: 15px;
            margin-bottom: 15px;

            & div[class*="root"]:hover{
                & > svg{                    
                    color: rgba(255, 255, 255, 0.9);
                }
            }
        }
    }

    & > .footer-main-content{
        width: 100%;
        & > .footer-nav-links{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            grid-auto-rows: max-content;

            & > nav[class*="navWrapper"]{
                grid-auto-rows: min-content;
                & > h2 {
                    color: rgba(255, 255, 255, 0.9);

                    & + ul {
                        grid-auto-rows: min-content;
                        & a[class*="link"]{
                            color: rgba(255, 255, 255, 0.6);
                            font-size: 12px;
                            font-family: 'StolzlLight';
                            font-weight: 600;
                            &:hover{
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}