@include font-face(StolzlBold, '../assets/fonts/stolzl/StolzlBold', null, null, otf);
@include font-face(StolzlBook, '../assets/fonts/stolzl/StolzlBook', null, null, otf);
@include font-face(StolzlLight, '../assets/fonts/stolzl/StolzlLight', null, null, otf);
@include font-face(StolzlMedium, '../assets/fonts/stolzl/StolzlMedium', null, null, otf);
@include font-face(StolzlRegular, '../assets/fonts/stolzl/StolzlRegular', null, null, otf);
@include font-face(StolzlThin, '../assets/fonts/stolzl/StolzlThin', null, null, otf);



body{
    background-color: $white2;
    overflow-x: hidden;
}
.green{
    color: $green;
}

.shadow{
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.card-shadow{
    box-shadow: 0px 0px 51px -40px $lightgray;

    &:hover{
        transition: box-shadow 0.3s ease;
        box-shadow: 0px 0px 51px -20px $lightgray;
    }
}