@import '../../../../styles/utils';

#componentSlider,
#componentSlider > div.component-wrapper-animated{
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 82px);
    position: relative;
    z-index: 3;
}

#componentSlideOne,
#componentSlideTwo,
#componentSlideThree{
    height: inherit;
    min-height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    z-index: 4;

    & .component-one-info,
    & .component-two-info,
    & .component-three-info{
        height: fit-content;
        @include fluid-type(padding-left, 320px, 1366px, 0px, 50px);
        @include fluid-type(padding-top, 320px, 1366px, 20px, 50px);

        & .component-title,
        & .component-description{
            @include fluid-type(margin-top, 320px, 1366px, 10px, 20px);
            @include fluid-type(margin-bottom, 320px, 1366px, 10px, 20px);
        }

        & .component-description{
            @include fluid-type(margin-bottom, 320px, 1366px, 10px, 35px);
        }

        & .component-category{
            @include fluid-type(margin-bottom, 320px, 1366px, 20px, 30px);
        }
    }

    & .component-one-image,
    & .component-two-image,
    & .component-three-image{
        display: inherit;
        align-items: flex-end;
        
        & img{
            width: 100%;
            max-width: 620px;
            filter: drop-shadow(32px -3px 24px #3f2d3050);
        }
    }
}

#componentSlideTwo,
#componentSlideThree{
    &::after,
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100vw + 30px);
        margin-left: -100px;
        height: 100%;
    }

    &::after{    
        background-image: url('../../../../assets/images/cappuccino-slide-2-1.jpg');
        background-size: cover;
        background-position: center right;
        z-index: -2;
    }

    &::before{
        background-color: rgba($color: $black, $alpha: 0.2);
        z-index: -1;
    }
    
    & .component-two-info,
    & .component-three-info{
        & .component-title{
            color: $white;
        }
    }
    & .component-two-image,
    & .component-three-image{
        opacity: 0;
    }
}

#componentSlideThree{
    &::after{
        background-image: url('../../../../assets/images/coffe-beans-slide-3.jpg');
    }
}

#actualSlideTimer{
    display: grid;
    grid-template-columns: 25px 1fr;
    place-items: center;
    height: 150px;
    width: 100%;
    max-width: 280px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 50px;
    z-index: 5;

    & > .actual-slider-number{
        font-family: "StolzlMedium", sans-serif;
        letter-spacing: 2px;
        color: rgba($color: $grayTextDescription, $alpha: 0.5);
    }
    & > .actual-slider-progress-bar{
        margin-left: 20px;
        width: 100%;
        height: 2px;
        background-color: scale-color($color: $grayTextDescription, $red: null, $green: null, $blue: null, $saturation: 10%, $lightness: 40%, $alpha: 0.3);
        
        & > .MuiLinearProgress-bar{
            background-color: scale-color($color: $grayTextDescription, $red: null, $green: null, $blue: null, $saturation: 0%, $lightness: -30%, $alpha: 0.9);
        }
    }
}

#componentSliderControls{
    min-width: 320px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    display: grid;
    grid-template-columns: max-content  1fr;

    & > .slider-control-actions{
        display: grid;
        grid-template-rows: repeat(2, 1fr);

        & > button{
            transform-origin: right center;
            &:first-child{
                background-color: scale-color($color: $green, $red: null, $green: null, $blue: null, $saturation: 0%, $lightness: -10%, $alpha: 1.0);
                
                &:hover{
                background-color: scale-color($color: $green, $red: null, $green: null, $blue: null, $saturation: 0%, $lightness: -5%, $alpha: 1.0);
                }
            }
            &:last-child{
                background-color: scale-color($color: $green, $red: null, $green: null, $blue: null, $saturation: 0%, $lightness: -20%, $alpha: 1.0);
                
                &:hover{
                    background-color: scale-color($color: $green, $red: null, $green: null, $blue: null, $saturation: 0%, $lightness: -30%, $alpha: 1.0);
                }
            }
        }
    }

    & > .slider-control-info{
        position: relative;
        padding: 22px 30px;
        background-color: $green;
        
        & > .slider-progress-bar{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            background-color: scale-color($color: $green, $red: null, $green: null, $blue: null, $saturation: 0%, $lightness: -10%, $alpha: 1.0);
            
            & > .MuiLinearProgress-bar{
                background-color: $white;
            }
        }

        & > .slider-control-item-indicator{
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            color: rgba($color: $white, $alpha: 0.3);
            font-size: 12px;
            margin-bottom: 10px;

            & > span:last-child{
                font-size: 14px;
            }
        }

        & > .slider-control-next-title{
            color: $white;
            letter-spacing: 2px;
            margin-bottom: 10px;
        }

        & > .slider-control-next-description{
            color: rgba($color: $white, $alpha: 0.5);
            margin-top: 15px;
            font-size: 12px;
        }
    }
}

#componentSlider > .component-slider-waterprint{
    position: absolute;
    left: -40%;
    z-index: 4;
    height: inherit;
    min-height: inherit;
    filter: grayscale(1) opacity(0.05);
}