@import '../../../../styles/utils';

#cardsSection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "card1 card1 card2 card2"
                          "card1 card1 card3 card4";
    gap: 2rem;
    padding: 100px 0;
    padding-left: 30px;
    z-index: 2;

    & > [class*="card-wrapper-square"]{
        position: relative;
        width: 100%;
        padding-bottom: 50%;
        overflow: hidden;
        background-color: $white;
        cursor: pointer;
        @extend .card-shadow;
        

        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 20%;
            width: 100%;
            height: 70%;
            z-index: 1;
            margin: 10% 5px;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    & > [class$="1"]{
        grid-area: card1;

        &::after{
            background-image: url('../../../../assets/images/holding-coffee-cup.png');
            background-position: -20% top;
            filter: drop-shadow(10px 10px 10px rgba($color: #3b1b1b, $alpha: 0.4));
        }
    }
    
    & > [class$="2"]{
        grid-area: card2;
        
        &::after{
            top: -90%;
            left: 38%;
            transform: rotateX(20deg) rotateY(11deg) rotateZ(-30deg);
            background-image: url('../../../../assets/images/starbucks-card.png');
            background-position: -20% top;
            background-size: contain;
            height: 100%;
            filter: drop-shadow(-5px 10px 10px rgba($color: $green, $alpha: 0.4));
        }
    }

    & > [class$="3"]{
        grid-area: card3;

        &::after{
            top: -40%;
            left: unset;
            right: -60%;
            background-image: url('../../../../assets/images/coffee-beans-in-cup.png');
            background-size: contain;
            filter: drop-shadow(10px 10px 10px rgba($color: #3b1b1b, $alpha: 0.4));
        }
    }
    
    & > [class$="4"]{
        grid-area: card4;
        background-color: $green;

        &::after{
            height: 100%;
            top: -7%;
            left: unset;
            right: -50%;
            background-image: url('../../../../assets/icons/starbucks_logo.svg');
            background-size: contain;
            filter: grayscale(1) opacity(0.1);
        }
        
        & > .card-root-4{
            & > .card-indicator{
                & > svg{
                    background-color: $white;
                    color: $gray;
                    width: 40px;
                    height: 40px;
                    padding: 8px;
                    border-radius: 50%;
                }
            }
            & > .card-info-wrapper{
                & > .card-info-title{
                    color: $white;
                    font-family: 'StolzlRegular', sans-serif;
                    @include fluid-type(font-size, 800px, 1366px, 14px, 18px);
                }
            }
        }
    }
}

#cardsSection .card-section{
    position: absolute;
    top: 0;
    left: 0;
    @include fluid-type(padding, 800px, 1366px, 20px, 35px);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto auto;
    z-index: 2;

    & > .card-indicator{
        @include fluid-type(font-size, 800px, 1366px, 20px, 50px);
        color: rgba($color: $grayTextDescription, $alpha: 0.5);
        font-family: 'StolzlRegular', sans-serif;
        font-weight: 600;
    }

    & > .card-info-wrapper{
        display: flex;
        flex-direction: column;
        color: $black;

        & > .card-info-title{
            @include fluid-type(font-size, 800px, 1366px, 16px, 24px);
            font-family: 'StolzlMedium', sans-serif;
            margin: 10px 0;
        }

        & > .card-info-description{
            font-weight: 600;
            color: $grayTextDescription;
            @include fluid-type(font-size, 800px, 1366px, 12px, 15px);
            @include fluid-type(line-height, 800px, 1366px, 15px, 30px);
        }
    }
}